html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.main {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

#cad-view {
    height: 100%;
    width: 100%;
}

#cad-view>canvas {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
}

.progress {
    left: calc(50% - 250px);
    z-index: 1000;
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    pointer-events: none;
}

.progress.loading {
    opacity: 1;
}

.nav-bar {
    position: absolute;
    width: 100%;
    height: 64px;
    z-index: 1000;
}

.nav-bar .nav-btn {
    position: absolute;
    display: inline-block;
    width: 64px;
    height: 64px;
}

.nav-right {
    right: 0;
}

.nav-left {
    left: 0;
}

.icon {
    position: relative;
    display: inline-block;
    left: 8px;
    top: 8px;
    width: 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, .7);
    border: 1px solid #ccc;
    border-radius: 50%;
    background-size: 24px 24px;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-user-drag: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
    user-drag: none;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.icon:hover {
    background-color: rgb(204, 204, 204);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.centerhorizontal {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.centervertical {
    position: absolute;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

.vertical-tool-bar {
    z-index: 1000;
    right: 0px;
    width: 45px;
    height: auto;
    border-radius: 6px 0px 0px 6px;
    display: block;
}

.vertical-tool-bar>.option {
    z-index: 1000;
    display: block;
    width: 36px;
    height: 36px;
    right: 0px;
    top: 0px;
    padding: 6px;
    background-color: rgb(204, 204, 204);
    opacity: 0.5;
    cursor: pointer;
    margin-bottom: 6px;
}